[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
    ignore = dirty
[submodule "bundle/vim-ag"]
	path = bundle/vim-ag
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/vim-bufexplorer"]
	path = bundle/vim-bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-ctrlp"]
	path = bundle/vim-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "bundle/vim-easyalign"]
	path = bundle/vim-easyalign
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/vim-molokai"]
	path = bundle/vim-molokai
	url = https://github.com/tomasr/molokai.git
    ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-plantuml"]
	path = bundle/vim-plantuml
	url = https://github.com/aklt/plantuml-syntax.git
    ignore = dirty
[submodule "bundle/vim-neomake"]
	path = bundle/vim-neomake
	url = https://github.com/neomake/neomake.git
[submodule "bundle/vim-lightline"]
	path = bundle/vim-lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-jdaddy"]
	path = bundle/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
